@mixin btn {
    // background-color: green!important;
    border: transparent!important;
    // border-radius: 25px!important;
    color: white!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important
}


.btnSubmit {
    @include btn;
    width: 100px!important;
    background-color: green!important;
}

.btnLink {
    @include btn;
    width: 150px!important;
}

.btnSignIn {
    @include btn;
    width: 150px!important;
    background-color: green!important;
}

.btnConfirm {
    @include btn;
    width: 50px!important;
    margin: 10px!important;
    // margin-right: 10px!important;
}

.boxButton {
    margin: auto;
    width: 50%;
    padding: 0 0 15px 15px;
}

@media screen and (min-width: 600px) {
    .boxButton {
        margin-left: 0;
    }
}