@import './mixin.scss';

.form-group {
    place-items: center stretch;    
    margin-top: 10px;
    margin-bottom: 10px;    
    
}

.form-control:hover {
    background-color: bisque;
}
.form-label {
    width: 100%;
    text-align: left !important;
    color: black;
    padding-left: 0 !important;
}