@mixin form-layout {
    background-color: rgb(100, 167, 98);
    margin: 10px;
    box-shadow: 2px 5px 3px 6px #105032;
    border-radius: 5px;
    max-width: 600px !important;
}

@mixin home {
    margin-top: 56px;
    justify-content: center;
    min-height: 100vh;
}
