.mainTask {
    background-color: tint-color(green, 65%);
}

.taskList,
.updateTask,
.taskDetail,
.searchTask {
    background-color: tint-color(green, 85%);
    border-radius: 6px;
    
}

.createTask {
    padding: 10px 10px 10px 10px;
}
#taskTitle, #taskTiming, #taskCustomerSearch, #taskExistingCustomer {
    margin-bottom: 20px;
}
#taskTiming div {
    margin-bottom: 20px;
}


@media screen and (min-width: 600px) {
    .mainTaskLeft {
        width: 15%;
        margin-top: 65px;
        padding-left: 10px;
        float: left;
        position: fixed;
        // background-color: tint-color(green, 95%);
        min-height: 100vh;
    }

    .mainTaskRight {
        width: 70%;
        margin-top: 65px;
        margin-right: 10%;
        padding-top: 10px;
        float: right;
        min-height: 100vh;
    }
    #taskTiming {
        display: flex;
        gap: 10px;
        
    }
    #taskTiming div{
        width: 100%;
    }
}